
.asSearch {
  display: flex;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 1;
  }

  button {
    min-width: 32px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    z-index: 0;
    margin-left: -1px;
    color: rgba(0, 0, 0, 0.45);

    &:focus,
    &:hover {
      z-index: 2;

    }
  }
}


.signage-header {
  justify-content: space-between;
  padding: 16px;

  .counter-container {
    padding-right: 32px;
    border-right: 2px solid rgba(0, 0, 0, 0.25);
  }

  > .ant-space-item:last-child {
    align-self: flex-end;
  }

  .defect-info .ant-typography {
    font-family: "Roboto", sans-serif;
    font-size: min(24px, calc(100vw * 4 / 75));

    &.eliminateCount {
      color: #024B6C;
      font-size:32px;
      margin: 0 0 0 25px;
    }

    &.detectCount {
      color: #5C85AB;
      font-size:32px;
    }

    &.expiredCount {
      color: #EC6546;
      font-size:32px;
      margin: 0 0 0 40px;
    }
    &.atWorkCount {
      color: #0475A7;
      font-size:32px;
      margin: 0 0 0 25px;
    }
    &.newDetectCount {
      color: #FAB610;
      font-size:32px;
      margin: 0 0 0 10px;
    }

    .regularColor {
      color: black;
      font-size:32px
    }

  }

  .pager {
    font-size: 20px;
  }

}
  .chartPie {
    margin-left: 100px;
    margin-right: 100px;
  }

.signage {
  font-size: 20px;
  padding: 0px;

  .BaseTable__row-cell {
    font-size: 20px;
    padding: 0px;
  }

  .BaseTable__header-cell-text {
    font-size: 18px;
    padding: 0px;
  }

  span.rt-table-cell {
    overflow: auto;
    white-space: pre-wrap;
  }
}

.BaseTable__overlay.custom__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .anticon {
    margin-left: -50px;

  }
}
