.rootLayout {
	height: 100%;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		margin: 5px 5px 0 5px;
		padding: 10px;
		background-color: white;
		border: 1px solid @page-layout-border-color;

		.profileControl{
			height: 40px;
			display: flex;
			align-items: center;

			.headerIcon{
				cursor: pointer;
				height: 40px;
				display: flex;
				align-items: center;
				margin: 0 7px;
			}
		}
	}

	.rootLayoutContent {
		background-color: white;
		display: flex;
		margin: 5px;
		border: 1px solid @page-layout-border-color;
		//align-items: center;
	}
}

.ant-popover-title{
	color: @popover-color;
}
