tr > th {
	background-color: #39839d;
}

.detours {
	color: black;
}
.detours-short {
	background-color: #f0efeb;
}

.ant-popover-inner {
	background-color: white;
}

.ant-popover-title {
	background-color: #39839d;
}

.special-hidden {
	visibility: hidden;
}

.calendar-title {
	display: flex;
	justify-content: space-between;
	
}
