tr > th {
    background-color:#39839D;
    
}

.detours {
     color: black;
}
.detours-short {
    background-color:#f0efeb;
}

.ant-popover-inner{
    background-color:white;
    
}

.ant-popover-title{
    background-color:#39839D;

}

.special-hidden{
    visibility: hidden;
}