.ant-tabs-tab {

  .anticon {
    margin-right: 0 !important;
    font-size: 13px;
  }

  .anticon.pane {
    display: flex;
    align-items: center;
    margin-right: 0;

    svg {
      margin-right: 6px;
    }

    p {
      padding-top: 0;
      margin-left: 0;
    }
  }
}

.attachmentFiles {
  display: flex;
  flex-wrap: wrap;

  .ant-image {
    margin: 0 10px 10px 0;
  }

  a.baseLink {
    margin: 0 10px 10px 0;
    display: block;
    width: 150px;
    height: 150px;
    background: #efefef;
    padding: 15px;

    .anticon {
      margin-bottom: 10px;
      font-size: 40px;
      display: inline-block;
    }
    span {
      display: block;
    }


  }
}

.statusIcon + span {
  margin-left: 8px
}
